/* LAYOUT */
html,body{height:100%; overflow-x: hidden; overflow-y: auto; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
.container-fluid {height:100%;}
.row {height: 100%;}
.main-area{min-height:100%; padding: 0;}

/* CONTENT */
.map-area {
    min-height:100%;
}
.sidebar {
    color: #000;
    min-height:100%;
    /*display: flex;*/
    flex-direction: column;
    position: absolute;
    width: 30%;
    z-index: 1;
    padding: 100px 10px;
}
.sidebar a:hover {
    text-decoration: none;
}
.controls {
    position: absolute; 
    width: 100%;
    padding: 30px;
    z-index: 1;
    top:40px;
    left:780px;
}
.info-box {
    background: rgba(0, 0, 0, 0.4);;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
.title-area {
    color: #000;
    position: absolute;
    top: 15px;
	left: 10px;
    z-index: 1;
}
.information-area {
    width: 520px;
    height: 130px;
}
.chart-area {
    width: 520px;
    height: 280px;
}
.ref-area {
	color: #000;
    position: absolute;
    bottom: 30px;
	left: 10px;
    z-index: 1;
}
.ref-area a {
    color: #bd0026;
    text-decoration: underline;
}
#year-slider {
    height: 200px;
    position: absolute;
    right: 60px;
    bottom: 280px;
    z-index: 2;
}
#year-slider .noUi-handle {
    background: #a8a8a8;
    box-shadow: none;
}
#year-slider .noUi-handle:focus {
    outline: none;
}
#year-slider .noUi-tooltip {
    background: none;
    border: none;
    right: -45px;
}
#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #a8a8a8;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 200px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
